@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --index: calc(1vw + 1vh);
  --size: 16px;
  font-size: calc(max(var(--index) * 0.545, var(--size)));
} 

.head-bg{
  background: url("./assets/headbg.png") no-repeat center center/cover;
  width: 60%;
  height: 64rem;
}

