.form_control {
  display: block;
  width: 25rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: 0.0625rem solid #fff;
  outline: none;
  color: #fff;
  background: #ffffff33;
  padding: 0 0.625rem;
  font-size: 1.125rem;
}
.form_label {
  display: block;
  font-family: Inter;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
}
.form_group_two {
  margin: 32px 0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  width: 34.5rem;
  height: 64rem;
  background: #5e77ff;
}
.fon_background {
  background: url("../../assets/authBg.png") no-repeat center center/cover;
  width: 60%;
  height: 64rem;
}

@media only screen and (max-width: 90rem) {
  .fon_background{
    width: 55.375rem;
  }
}
.bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_btn {
  padding: 0.8125rem 10.25rem;
  border-radius: 1rem;
  background: #fff;
  color: #5e77ff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 48px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}